@model Twenty1.Models.CardViewModel
@{
    ViewBag.Title = "DrawACard";
}

<h2>DrawACard</h2>

@*<p>
    <a class="btn btn-default" href="@Url.Action("NewGame", "Game", new { cards = Model.cards })">PLAY</a>
</p>*@

@foreach(var card in Model.cards)
{
    <img src="@card.image" />
}