@model Twenty1.Models.Deck
@{
    ViewBag.Title = "Index";
}

<p>You have @Model.remaining cards in your deck</p>

<p>
    <a class="btn btn-default" href="@Url.Action("NewGame",  new { deck_id = Model.deck_id })">PLAY</a>
</p>

