@model Twenty1.Models.Person
@{
    ViewBag.Title = "NewGame";
}



@foreach (var card in Model.Hand)
{
    <img src="@card.image" />
}


<p>
        <a class="btn btn-default" href="@Url.Action("Hit", "Game", new { deck_id = Model.deck_id })">HIT</a>
 </