@model Twenty1.Models.Person
@{
    ViewBag.Title = "NewGame";
}

@*<p>
    <a class="btn btn-default" href="@Url.Action("DrawACard", "Game", new { deck_id = Model.deck_id })">PLAY</a>
</p>*@

@foreach (var card in Model.Hand)
{
    <img src="@card.image" />
}